{{> product/videoSamplePlayer }}

<br />
<h3>Course Description</h3>
<div class="product-description">{{{ description }}}</div>

<br />

<h3>Course Length:</h3>
<div class="product-description">{{{ trainingDetails.length }}} Days</div>

<br />

<h3>You Will Learn:</h3>
<div class="product-description">{{{ trainingDetails.youWillLearn }}}</div>

<br />

<h3>Prerequisites:</h3>
<div class="product-description">{{{ trainingDetails.preRequisites }}}</div>

<br />

<h3>Audience:</h3>
<div class="product-description">{{{ trainingDetails.audience }}}</div>

<br />

<h3>Course Outline:</h3>
<div class="product-description">{{{ trainingDetails.outline }}}</div>
